DM Commands:
```
  help              - This help message.
  status            - Get your connection status
  unregister <game> - Removes your account from. Specify <game> to
                      remove your account from a single game. Specify
                      `all` to remove yourself from all games.
```

If you have been asked for your PIN, just enter the PIN as it appears
in game.

Example:
> 1234
