Commands:
```
  server add <name>         - Adds a Rust server and will PM you the API key.
                              Chat will be relayed into the channel you send
                              this message from.
  server list               - Sends a private message with all your defined Rust
                              servers
  server [ID] rename <name> - Sets server's name
  server [ID] reset         - Resets your server API Key. A new key will be sent
                              to you.
  server [ID] delete        - Deletes your server and API key.
  server list               - Shows your currently configured servers
  server [ID] chathere      - Sets the channel for server chat to the channel
                              you sent this message from.
  server [ID] raiddelay <d> - Set raid notification.
                              Example: "2h5m" = 2 hours and 5 minutes
```

Download the plugin at https://umod.org/plugins/pound-bot
