Your new server key for **{{ .Name }}** is: ||```*{{ .Key }}*```||

Add it to your oxide/config/PoundBotConnector.json or copy and paste the following:
||
```
{
	"api_url": "https://api.poundbot.com/",
	"show_own_damage": true,
	"api_key": "{{ .Key }}"
}
```
||